:root{
    --main-color: #EA7575;
    --second-color: #47302F;
}

*{
    font-family: 'Lato', sans-serif;
}

body {
    overflow-x: hidden;
}


h1,h2,h3,h4{
    font-family: 'Comfortaa', cursive;
}

.color-main {
    color: var(--main-color);
}

/* .bg-header{
    width: 100 vh;
    background-image: url('img/header-1.png');
} */

.btn-custom {
    height: 40px;
    width: 100px;
    background-color: var(--main-color);
}

.btn-custom-navbar {
    height: 40px;
    width: 200px;
    background-color: var(--main-color);
}

.bg-alert-custom { 
    background-color: rgba(3, 148, 3, 0.582);
}




/* header */
.img-header{
    height: 90vh;
    width: 100%;
    background: url('../../storage/app/public/img/header-1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

.shadow-navbar{
    box-shadow: 0px 5px 14px 0px #9e6666 ;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
}

.bg-custom-search {
    background-color: rgba(255, 255, 255, 0.600);
    border-radius: 100px;
    height: 200px;
    backdrop-filter: blur(10px);
}

.card-custom {
    height: 400px;
    width: 300px;
    box-shadow: 0px 6px 12px 5px rgba(212, 211, 211, 0.315);
    border-radius: 10px;
    text-align: center;
}

.category-custom {
    position: relative;
    top: 750px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-footer {
    background-color: rgb(250, 201, 201) !important;
}

.email-footer {
    color: #d54646;
}

.line-footer {
    height: 1px;
    background: white;
}



/* cartegorie --------------------------------------------------------------------------------------------------------------------*/
.card-category {
    color: var(--main-color);
    height: 180px;
    position: relative;
    transition: .3s all ease-in-out

}
.row-category {
    border-radius: 7px;
    /* border: 1px solid black; */
    min-height: 180px;
   
}

.wrapper-categories {
    bottom: 200px;
    border-radius: 7px;

    /* padding: 60px 10px; */
}




.b-radius-card:hover {
    background-color: var(--main-color);
    color: white;
    border-radius: 7px;
    top: -10px;
    box-shadow: 0 5px 30px -5px rgb(48 227 202 / 50%);
  }

  .b-radius-card:hover > h6 {
    color: white;
  }


  .b-radius-card:hover .p-category {
    background-color: #fdfdfd;
    color: var(--dark-grey)
  }

  .drop-custom {
    height: 40px;
    width: 403px;
    border: none;
    }

    .drop-custom:focus{
    border: none;
    }

  .select-custom {
    border: none;
    }  
    
    .select-custom:focus{
        border: none;
    }
  /* cartegorie --------------------------------------------------------------------------------------------------------------------*/
  

  p.badge {
      padding: 5px;
      height: 30px;
      width: 30px;
  }

.margin-custom {
    margin-top: 100px;
}

.margin-search {
    margin-left: 105px;
}

.margin-top-search {
    margin-top: 35px;
}
